In [1]:
##Import the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.chdir("E:\\PGP AIML\\Projects\\NLP") 
os.getcwd()

'E:\\PGP AIML\\Projects\\NLP'

In [3]:
#Importing a random sample of data

import pandas as pd
import random
p = 0.01
df = pd.read_csv(
         'blogtext.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)

In [4]:
df.shape

(6933, 7)

In [5]:
df.head()

,id,gender,age,topic,sign,date,text
0,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...
1,3581210,male,33,InvestmentBanking,Aquarius,"10,August,2004",Korea's pretty funny sometimes. ...
2,3668238,female,17,Student,Gemini,"16,July,2004",so im back - yay! rnt we all ...
3,649790,female,24,indUnk,Scorpio,"28,July,2004",Hope you don't mind Bart... Her...
4,3176655,male,24,Engineering,Libra,"03,July,2004",My last entry got me thinking...

In [6]:
#Text processing

from gensim.parsing.preprocessing import remove_stopwords,strip_multiple_whitespaces,strip_non_alphanum,strip_numeric
def clean_text(text):
    text=text.lower()
    text=strip_non_alphanum(text)
    text=strip_numeric(text)
    text=remove_stopwords(text)
    text=strip_multiple_whitespaces(text)
    return text

E:\Anaconda\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [7]:
df['cleaned_text']=df['text'].apply(lambda x:clean_text(x))

In [8]:
df.head()

,id,gender,age,topic,sign,date,text,cleaned_text
0,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...,latest korean rumor way coquitlam wife s ears ...
1,3581210,male,33,InvestmentBanking,Aquarius,"10,August,2004",Korea's pretty funny sometimes. ...,korea s pretty funny look urllink article chan...
2,3668238,female,17,Student,Gemini,"16,July,2004",so im back - yay! rnt we all ...,im yay rnt happy bout sure nbsp grr hav pic ca...
3,649790,female,24,indUnk,Scorpio,"28,July,2004",Hope you don't mind Bart... Her...,hope t mind bart s friend bart s lately think ...
4,3176655,male,24,Engineering,Libra,"03,July,2004",My last entry got me thinking...,entry got thinking smart like friends read m f...

In [9]:
df['labels']='['+df['gender'].astype(str)+', '+df['age'].astype(str)+', '+df['topic'].astype(str)+', '+df['sign'].astype(str)+']'

In [10]:
df2 = df[['cleaned_text','labels']]

In [11]:
df2

,cleaned_text,labels
0,latest korean rumor way coquitlam wife s ears ...,"[male, 33, InvestmentBanking, Aquarius]"
1,korea s pretty funny look urllink article chan...,"[male, 33, InvestmentBanking, Aquarius]"
2,im yay rnt happy bout sure nbsp grr hav pic ca...,"[female, 17, Student, Gemini]"
3,hope t mind bart s friend bart s lately think ...,"[female, 24, indUnk, Scorpio]"
4,entry got thinking smart like friends read m f...,"[male, 24, Engineering, Libra]"
5,leaves friends phone forever collects air fres...,"[male, 15, Science, Libra]"
6,note self owe yonas wingstop stupid rain bike ...,"[male, 23, indUnk, Sagittarius]"
7,got barbie fishin rod canoe lake fishin certai...,"[male, 23, indUnk, Sagittarius]"
8,slept morning got holes today think weather be...,"[male, 17, Sports-Recreation, Capricorn]"
9,ok s friend om team called muthusamy talk toda...,"[male, 14, Student, Scorpio]"
10,yeah s alright s like ask want hear good news ...,"[female, 15, Student, Libra]"
11,probly goin swim suit shopping tomorrow hate c...,"[female, 15, indUnk, Aries]"
12,mir ben said regardless missed hope day good f...,"[male, 35, Technology, Aries]"
13,fair duellacathata t directly frame party supp...,"[male, 35, Technology, Aries]"
14,thing dupe engineered palpatine sideous contro...,"[male, 35, Technology, Aries]"
15,oh wow s sad dad today quit smoking smoked cig...,"[male, 35, Technology, Aries]"
16,seepy post wake,"[male, 35, Technology, Aries]"
17,insluting,"[male, 35, Technology, Aries]"
18,think america invaded government overthrown lo...,"[male, 35, Technology, Aries]"
19,yay richard miriam,"[male, 35, Technology, Aries]"
20,recent interview joss shares irony able tell s...,"[male, 35, Technology, Aries]"
21,s official stuff urllink check giddy monkeys,"[male, 35, Technology, Aries]"
22,yelahneb current version mac mac s new browser...,"[male, 35, Technology, Aries]"
23,s robot,"[male, 35, Technology, Aries]"
24,starting smoking feel like poop ll try quit m ...,"[male, 35, Technology, Aries]"
25,far socialized medicine concerned best way fun...,"[male, 35, Technology, Aries]"
26,s interesting johnathan regards music eclectic...,"[male, 35, Technology, Aries]"
27,people live fortune people live fame people li...,"[female, 17, Student, Leo]"
28,lil bit bored right reportage actually t like ...,"[female, 24, indUnk, Aries]"
29,movie vertigo alfred hitchcock weirdest twisti...,"[male, 14, Student, Leo]"
...,...,...
6903,today kinda fine missed bus morning haha schoo...,"[female, 14, indUnk, Leo]"
6904,paint living room s simple nbsp past spring de...,"[female, 47, Education, Cancer]"
6905,urllink media learn al jazeera www theage com ...,"[male, 37, Technology, Aries]"
6906,cares,"[male, 16, Student, Virgo]"
6907,think time home im work sucks ass bought lotr ...,"[male, 26, indUnk, Scorpio]"
6908,nbsp nbsp seen far movie important similarity ...,"[female, 15, Student, Aries]"
6909,years experience notably later half years ve n...,"[male, 17, indUnk, Pisces]"
6910,wednesday dad mandie traveled country chicago ...,"[male, 17, indUnk, Pisces]"
6911,m sick hai guess flu getting bad worse depend ...,"[female, 17, Student, Cancer]"
6912,grandma left morning reason feel like ll s irr...,"[female, 25, indUnk, Virgo]"
6913,mad anne read pirate little bit crazy little b...,"[female, 23, Fashion, Libra]"
6914,finally remembered guestmap long time ago ve sign,"[female, 23, Fashion, Libra]"
6915,chb nbsp t want land end life better hand bunc...,"[female, 23, Fashion, Libra]"
6916,urllink pictures basement nbsp urllink,"[female, 14, indUnk, Aries]"
6917,yesterday popped pharmacy antihistamines m act...,"[male, 26, indUnk, Virgo]"
6918,urllink lew rockwell urllink cheers intellectu...,"[male, 26, indUnk, Virgo]"
6919,said old days chinese civil servants avoid cer...,"[male, 26, indUnk, Virgo]"
6920,angel time urllink kind angel brought urllink ...,"[male, 26, indUnk, Virgo]"
6921,urllink cute little god nephew sleeping nbsp u...,"[male, 26, indUnk, Virgo]"
6922,wheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee ee...,"[female, 15, indUnk, Aquarius]"
6923,woke today school pretty bored rest day,"[female, 15, indUnk, Aquarius]"
6924,t school today friend comes school day sick t ...,"[female, 15, indUnk, Aquarius]"
6925,makaveli performance awesome stan joga herbs s...,"[female, 25, Communications-Media, Libra]"
6926,hahahaha actually worsened things posting haha...,"[male, 17, Student, Taurus]"
6927,world war ii nutshell greg holmes europe havin...,"[male, 17, Student, Taurus]"
6928,feel like crawling cave dark cave mm sdnfkasdf...,"[male, 17, Student, Taurus]"
6929,urllink óvé áí nbsp urllink,"[female, 13, Student, Pisces]"
6930,urllink shyang li phewit wid miniskirt lagi ni...,"[female, 13, Student, Pisces]"
6931,feeling oky m losing voice,"[female, 27, Engineering, Libra]"
6932,dear susan sorry dad fucked sorry let live aft...,"[male, 23, Student, Taurus]"

In [12]:
X = df2.loc[:, df2.columns != 'labels']
Y = df2['labels']

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=100)

In [14]:
X_train.head()

                                           cleaned_text
340   urllink apple itunes million songs kevin britt...
3724  herald courier looking staff artist newsroom h...
1034  haven t today discussing purchasing domain exa...
6576  ah works sigh savvy blind lemur equally likely...
998   today worked presentation helped kenny brian w...

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range=(1, 2))
X_train_dtm = vect.fit_transform(X_train['cleaned_text'])
X_test_dtm = vect.transform(X_test['cleaned_text'])

In [16]:
pd.DataFrame(X_train_dtm.toarray(), columns=vect.get_feature_names())

#Need to do some more cleaning of data

,___,___ ___,___ _____,___ activity,___ betty,___ casino,___ conjugated,___ fortune,___ karaoke,___ specify,...,칩셋의 전체,펜티엄,펜티엄 cpu를,하였다,하였다 또한,한다,한다 sis는,한다 이에,힘입어,힘입어 총수익이
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4824,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4842,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4848,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X_train_dtm.shape

(4853, 399432)

In [18]:
X_train.head()

                                           cleaned_text
340   urllink apple itunes million songs kevin britt...
3724  herald courier looking staff artist newsroom h...
1034  haven t today discussing purchasing domain exa...
6576  ah works sigh savvy blind lemur equally likely...
998   today worked presentation helped kenny brian w...

In [19]:
df.head()

,id,gender,age,topic,sign,date,text,cleaned_text,labels
0,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...,latest korean rumor way coquitlam wife s ears ...,"[male, 33, InvestmentBanking, Aquarius]"
1,3581210,male,33,InvestmentBanking,Aquarius,"10,August,2004",Korea's pretty funny sometimes. ...,korea s pretty funny look urllink article chan...,"[male, 33, InvestmentBanking, Aquarius]"
2,3668238,female,17,Student,Gemini,"16,July,2004",so im back - yay! rnt we all ...,im yay rnt happy bout sure nbsp grr hav pic ca...,"[female, 17, Student, Gemini]"
3,649790,female,24,indUnk,Scorpio,"28,July,2004",Hope you don't mind Bart... Her...,hope t mind bart s friend bart s lately think ...,"[female, 24, indUnk, Scorpio]"
4,3176655,male,24,Engineering,Libra,"03,July,2004",My last entry got me thinking...,entry got thinking smart like friends read m f...,"[male, 24, Engineering, Libra]"

In [20]:
a=df['gender'].value_counts().to_dict()
b=df['topic'].value_counts().to_dict()
c=df['age'].value_counts().to_dict()
d=df['sign'].value_counts().to_dict()

In [21]:
dict = {}
dict.update(a)
dict.update(b)
dict.update(c)
dict.update(d)

In [22]:
dict

{'male': 3467,
 'female': 3466,
 'indUnk': 2589,
 'Student': 1518,
 'Technology': 415,
 'Arts': 351,
 'Education': 297,
 'Communications-Media': 237,
 'Internet': 150,
 'Non-Profit': 129,
 'Engineering': 120,
 'Law': 91,
 'Science': 79,
 'Consulting': 72,
 'Publishing': 65,
 'Government': 62,
 'Advertising': 56,
 'Marketing': 48,
 'Religion': 48,
 'BusinessServices': 44,
 'Telecommunications': 43,
 'Fashion': 40,
 'Museums-Libraries': 38,
 'Banking': 37,
 'Accounting': 36,
 'Sports-Recreation': 36,
 'Military': 36,
 'HumanResources': 32,
 'Transportation': 31,
 'Chemicals': 29,
 'RealEstate': 29,
 'Biotech': 28,
 'Manufacturing': 26,
 'Tourism': 23,
 'Architecture': 21,
 'LawEnforcement-Security': 20,
 'InvestmentBanking': 18,
 'Agriculture': 13,
 'Construction': 12,
 'Automotive': 8,
 'Environment': 4,
 'Maritime': 2,
 17: 821,
 24: 773,
 23: 763,
 16: 721,
 25: 631,
 26: 610,
 27: 447,
 15: 434,
 14: 307,
 34: 211,
 33: 199,
 35: 161,
 36: 148,
 13: 137,
 38: 93,
 37: 93,
 39: 67,
 40: 55,
 43: 46,
 41: 43,
 48: 38,
 45: 36,
 42: 31,
 46: 26,
 44: 21,
 47: 21,
 'Aries': 679,
 'Cancer': 665,
 'Taurus': 656,
 'Libra': 610,
 'Scorpio': 596,
 'Virgo': 593,
 'Leo': 566,
 'Pisces': 547,
 'Sagittarius': 532,
 'Gemini': 527,
 'Aquarius': 482,
 'Capricorn': 480}

In [23]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb.fit(y_train)
y_train = mlb.transform(y_train)
y_test = mlb.transform(y_test)

In [24]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [25]:
clf.fit(X_train_dtm, y_train)

E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 0 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 1 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 30 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 31 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 32 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 36 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 42 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\multiclass.py:76: UserWarning: Label 43 is present in all training examples.
  str(classes[c]))
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [26]:
y_train_pred = clf.predict(X_train_dtm)
y_test_pred = clf.predict(X_test_dtm)

In [27]:
from sklearn.metrics import multilabel_confusion_matrix

multilabel_confusion_matrix(y_test,y_test_pred)

array([[[   0,    0],
        [   0, 2080]],

       [[   0,    0],
        [   0, 2080]],

       [[1956,    0],
        [ 124,    0]],

       [[2064,    1],
        [  15,    0]],

       [[1235,   95],
        [ 419,  331]],

       [[ 865,  240],
        [ 598,  377]],

       [[1409,   96],
        [ 512,   63]],

       [[1554,   64],
        [ 438,   24]],

       [[1692,   27],
        [ 351,   10]],

       [[1579,   29],
        [ 458,   14]],

       [[1603,   51],
        [ 403,   23]],

       [[2053,    0],
        [  27,    0]],

       [[2060,    1],
        [  19,    0]],

       [[1565,   40],
        [ 461,   14]],

       [[2040,    0],
        [  40,    0]],

       [[1626,   41],
        [ 400,   13]],

       [[1928,    2],
        [ 149,    1]],

       [[2062,    1],
        [  17,    0]],

       [[1922,    3],
        [ 155,    0]],

       [[2074,    1],
        [   5,    0]],

       [[2021,    0],
        [  59,    0]],

       [[1631,   35],
        [ 402,   12]],

       [[1968,    0],
        [ 112,    0]],

       [[2045,    0],
        [  35,    0]],

       [[1867,    4],
        [ 207,    2]],

       [[2044,    1],
        [  35,    0]],

       [[1157,  151],
        [ 641,  131]],

       [[1711,   13],
        [ 347,    9]],

       [[1152,  190],
        [ 626,  112]],

       [[1905,    4],
        [ 171,    0]],

       [[   0,    0],
        [   0, 2080]],

       [[   0,    0],
        [   0, 2080]],

       [[   0,    0],
        [   0, 2080]],

       [[1852,    9],
        [ 218,    1]],

       [[ 854,  285],
        [ 669,  272]],

       [[ 171,  528],
        [ 291, 1090]],

       [[   0,    0],
        [   0, 2080]],

       [[ 748,  271],
        [ 573,  488]],

       [[1430,   72],
        [ 547,   31]],

       [[1869,    8],
        [ 203,    0]],

       [[   2,  224],
        [  14, 1840]],

       [[1102,  206],
        [ 641,  131]],

       [[   0,    0],
        [   0, 2080]],

       [[   0,    0],
        [   0, 2080]],

       [[   1,  156],
        [  12, 1911]],

       [[ 803,  294],
        [ 698,  285]],

       [[1727,   16],
        [ 333,    4]],

       [[1914,    5],
        [ 161,    0]],

       [[  24,  352],
        [  85, 1619]],

       [[ 682,  308],
        [ 717,  373]],

       [[ 702,  296],
        [ 715,  367]],

       [[ 671,  307],
        [ 711,  391]],

       [[2034,    0],
        [  45,    1]],

       [[2038,    0],
        [  42,    0]],

       [[1925,    3],
        [ 152,    0]]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

print(accuracy_score(y_test,y_test_pred))
print(recall_score(y_test,y_test_pred,average='macro'))
print(precision_score(y_test,y_test_pred,average='macro'))
print(f1_score(y_test,y_test_pred,average = 'macro'))

0.0014423076923076924
0.2839272730900385
0.403924306363978
0.3025962165715128

E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [29]:
pd.DataFrame(y_train).head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,1,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,1,0,0,1,0,...,1,0,1,1,1,1,1,0,0,0
2,1,1,0,0,1,0,0,0,0,0,...,1,0,0,1,1,0,1,0,0,1
3,1,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [30]:
pd.DataFrame(y_test_pred).head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0