In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import math

In [2]:
titan = pd.read_csv('titan.csv', sep=",", header=0)
titan.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [3]:
titan['Old Scheme (in thousands)'] = titan['Old Scheme (in thousands)']*1000
titan['New Scheme (in thousands)'] = titan['New Scheme (in thousands)']*1000

#Multiplying with 1000 since the data given is in 1000's

In [4]:
titan.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                      57000                      62000
1            2                     103000                     122000
2            3                      59000                      54000
3            4                      75000                      82000
4            5                      84000                      84000

In [5]:
titan.loc[:,"Old Scheme (in thousands)"].mean()

#Mean of old scheme is 68033.33

68033.33333333333

In [6]:
titan.loc[:,"New Scheme (in thousands)"].mean()

#Mean of new scheme is 72033.33

72033.33333333333

In [7]:
#Alternate Hypothesis: New Scheme is better than Old Scheme
#Null Hypothesis: New Scheme is same as Old Scheme

In [8]:
t_statistic, p_value = stats.ttest_rel(titan['Old Scheme (in thousands)'],titan['New Scheme (in thousands)'])
print(p_value/2)

#Divided by 2 because we have to perform right tailed test

0.06528776980668831

In [9]:
#p value is greater than 0.05, hence Null hypothesis holds true. There is no significant difference between old and new schemes

In [10]:
#New Alternate hypothesis: (Mean of new scheme - Mean of old scheme) > 5000
#New Null Hypothesis: (Mean of new scheme - Mean of old scheme) <= 5000

In [11]:
#Type 1 error is the probability of null hypothesis being rejected when it's true. 
#It is always 5% since we are looking at 95% confidence

In [12]:
#Calculate t statistic for 5000 difference

#Calculate Standard Error

SE = stats.sem(titan["New Scheme (in thousands)"]-titan["Old Scheme (in thousands)"])

print(SE)

2570.8355455569017

In [13]:
#t = [ (x1 - x2) - d ] / SE
t = ((72033.33-68033.33)-5000)/SE
t

-0.38897859558860937

In [14]:
#Calculating Degrees of Freedom
DF = len(titan)-1
DF

29

In [15]:
#P value by looking in T tables for t value 

0.3501

0.3501

In [16]:
#Power of a test is probability of not rejecting Null Hypothesis when Null Hypothesis is false
#Calculating t crictical value
#Null hypothesis will be rejected when t value is greater than t critical

In [17]:
from scipy.stats import t
t_crit = t.ppf(0.95, 29)
print(t_crit)

1.6991270265334972

In [18]:
#Mean Diff for t crictical 1.699

MeanDiff = t_crit*SE
MeanDiff

4368.176156228719

In [19]:
#t value for MeanDiff

t2 = (MeanDiff-5000)/SE
t2

-0.2457659514095497

In [20]:
#P value for t2

0.4038

#Power of the test is 0.4038

0.4038

###################################
###################################

In [21]:
#Verifying another way of getting the p value. 
#Creating a single sample of one column which is difference betwee new and old samples and 
#using that to calculate p value when difference expected is 5000

In [22]:
from scipy.stats import ttest_1samp, wilcoxon

In [23]:
t_statistic, p_value = ttest_1samp(titan["New Scheme (in thousands)"]-titan["Old Scheme (in thousands)"], 5000)
print(t_statistic,p_value/2)

-0.3889785955886094 0.3500667456306643